---
import { cn } from '~/utils/cn';
import type { HTMLAttributes } from 'astro/types';

type Props = HTMLAttributes<'section'>;

const { class: className, ...restOfProps } = Astro.props;
---

<section
  class={cn(
    'mx-4 my-4 rounded-[2rem] border-[0.1rem] border-solid border-section-border/10 px-8 py-16',
    className,
  )}
  {...restOfProps}
>
  <slot />
</section>
